* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.container {
 display: grid;
 grid-template: repeat(2, 1fr) / repeat(2, 1fr);
 grid-template-areas: 
  "card-1 card-2"
  "card-3 card-3";
  height: 100vh;
  width: 100vw;
}

.item-1 {
 background-color: #0096C7;
 grid-area: card-1;

}

.item-2 {
 background-color: #CAF0F8;
 grid-area: card-2;
}

.item-3 {
 background-color: #023E8A;
 grid-area: card-3;
}