* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.container {
    display: grid;
    background-color: #264653;
    width: 100%;
    height: 150px;
    grid-template: repeat(2,1fr) / repeat(2,1fr);
}

.item {
    background-color: #2A9D8F;
    display: grid;
    grid-template: repeat(2,1fr) / repeat(2,1fr);
}

.sub-item {
    background-color: #E9C46A;
}
